# React Native
node_modules/

# Android
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties

# Signing
android/app/*.keystore
*.jks

# Build outputs
*.apk
*.aab
*.so

# iOS
ios/Pods/
ios/build/

# Mac
.DS_Store

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/
